<body >
  <div class="panel shadow" >
    <div class="panel-body" >
      <div class="alert alert-success" id="success-alert"  aria-live="rude" role="alert" hidden>
	<a href="" class="close" aria-label="close">&times;</a>
				{%if gbflag == 7%}
				{% trans %}Godown edited successfully.{% endtrans %}
				{%else%}
				{% trans %}Branch edited successfully.{% endtrans %}
				{%endif%}
      </div>
      <div class="alert alert-danger" id="prod-alert"  aria-live="rude" role="alert" hidden>

	{% trans %}Cannot Delete Godown, Godown Contains Product!{% endtrans %}
      </div>

      <div class="alert alert-success" id="delsuccess-alert"  aria-live="rude" role="alert" hidden>
	<a href="" class="close" aria-label="close">&times;</a>
				{%if gbflag == 7%}
				{% trans %}Godown deleted successfully.{% endtrans %}
				{%else%}
				{% trans %}Branch deleted successfully.{% endtrans %}
				{%endif%}
      </div>

      <div class="alert alert-danger" id="failure-alert"  aria-live="rude" role="alert" hidden>
	<a href="" class="close" aria-label="close">&times;</a>
				{%if gbflag == 7%}
				{% trans %}Godown could not be edited.{% endtrans %}
				{%else%}
				{% trans %}Branch could not be edited.{% endtrans %}
				{%endif%}
      </div>
      <div class="alert alert-danger" id="duplicate-alert"  aria-live="rude" role="alert" hidden>
				{%if gbflag == 7%}
				{% trans %}Godown already exists!{% endtrans %}
				{%else%}
				{% trans %}Branch already exists!{% endtrans %}
				{%endif%}
      </div>

      <div class="alert alert-danger" id="transaction-alert"  aria-live="rude" role="alert" hidden>
				{%if gbflag == 7%}
				{% trans %}Godown cannot be deleted!{% endtrans %}
				{%else%}
				{% trans %}Branch cannot be deleted!{% endtrans %}
				{%endif%}
      </div>

      <div class="col-xs-12">
	<div class="form-group">
	  {% if numberofgodown ==0 %}
	    <label class="text-danger">
				{%if gbflag == 7%}
				{% trans %}No Godown Found!{% endtrans %}
				{%else%}
				{% trans %}No Branch Found!{% endtrans %}
				{%endif%}
			</label>
	  {% else %}
	    <label for="editgoddet">
				{%if gbflag == 7%}
				{% trans %}List of Godowns{% endtrans %} :
				{%else%}
				{% trans %}List of Branches{% endtrans %} :
				{%endif%}
				</label>
	    <select class = "form-control input-sm" id="editgoddet">
	      <option value="disabled" disabled selected hidden>
					{%if gbflag == 7%}
					{% trans %}Select Godown{% endtrans %}
					{%else%}
					{% trans %}Select Branch{% endtrans %}
					{%endif%}
					</option>
	      {% for gods in gkresult %}
		<option value="{{gods['godownid']}}">{{gods["godownname"]}} ({{gods["godownaddress"]}})</option>
	      {% endfor %}
	  {% endif %}
	    </select>
	</div>
      </div>
      <div class="col-sm-6 editgodownform" hidden>
	<div class="alert alert-danger" id="blank-alert"  aria-live="rude" role="alert" hidden>
		{%if gbflag == 7%}
		{% trans %}Please enter godown name!{% endtrans %}
		{%else%}
		{% trans %}Please enter branch name!{% endtrans %}
		{%endif%}
	</div>
	<div class="form-group">
	  <label for="goname">
		{%if gbflag == 7%}
		{% trans %}New Name of Godown{% endtrans %} :
		{%else%}
		{% trans %}New Name of Branch{% endtrans %} :
		{%endif%}
		</label><label for="goname" style="color:red;font-size: 120%;">*</label>
	  <input type="text" id="goname" name="goname" class="form-control input-sm" accesskey="g"></input>
	</div>
	<div class="alert alert-danger" id="stateblank-alert"  aria-live="rude" role="alert" hidden>

	  {% trans %}Please enter contact!{% endtrans %}
	</div>
	<div class="form-group">
	  <label for="gostate" id="godnstate">{% trans %}State{% endtrans %} : </label><label for="gostate" style="color:red;font-size: 120%;">*</label>
	  <select id="gostate" class="form-control input-sm tax_state">
	    <option value="" disabled selected hidden>None</option>
	    <option value="Andaman and Nicobar Islands" stateid="1">Andaman and Nicobar Islands</option>
	    <option value="Andhra Pradesh" stateid="2">Andhra Pradesh</option>
	    <option value="Arunachal Pradesh" stateid="3">Arunachal Pradesh</option>
	    <option value="Assam" stateid="4">Assam</option>
	    <option value="Bihar" stateid="5">Bihar</option>
	    <option value="Chandigarh" stateid="6">Chandigarh</option>
	    <option value="Chhattisgarh" stateid="7">Chhattisgarh</option>
	    <option value="Dadra and Nagar Haveli" stateid="8">Dadra and Nagar Haveli</option>
	    <option value="Daman and Diu" stateid="9">Daman and Diu</option>
	    <option value="Delhi" stateid="10">Delhi</option>
	    <option value="Goa" stateid="11">Goa</option>
	    <option value="Gujarat" stateid="12">Gujarat</option>
	    <option value="Haryana" stateid="13">Haryana</option>
	    <option value="Himachal Pradesh" stateid="14">Himachal Pradesh</option>
	    <option value="Jammu and Kashmir" stateid="15">Jammu and Kashmir</option>
	    <option value="Jharkhand" stateid="16">Jharkhand</option>
	    <option value="Karnataka" stateid="17">Karnataka</option>
	    <option value="Kerala" stateid="19">Kerala</option>
	    <option value="Lakshadweep" stateid="20">Lakshadweep</option>
	    <option value="Madhya Pradesh" stateid="21">Madhya Pradesh</option>
	    <option value="Maharashtra" stateid="22">Maharashtra</option>
	    <option value="Manipur" stateid="23">Manipur</option>
	    <option value="Meghalaya" stateid="24">Meghalaya</option>
	    <option value="Mizoram" stateid="25">Mizoram</option>
	    <option value="Nagaland" stateid="26">Nagaland</option>
	    <option value="Odisha" stateid="29">Odisha</option>
	    <option value="Pondicherry" stateid="31">Pondicherry</option>
	    <option value="Punjab" stateid="32">Punjab</option>
	    <option value="Rajasthan" stateid="33">Rajasthan</option>
	    <option value="Sikkim" stateid="34">Sikkim</option>
	    <option value="Tamil Nadu" stateid="35">Tamil Nadu</option>
	    <option value="Telangana" stateid="36">Telangana</option>
	    <option value="Tripura" stateid="37">Tripura</option>
	    <option value="Uttar Pradesh" stateid="38">Uttar Pradesh</option>
	    <option value="Uttarakhand" stateid="39">Uttarakhand</option>
	    <option value="West Bengal" stateid="41">West Bengal</option>
	  </select>
	</div>
	<div class="alert alert-danger" id="addressblank-alert"  aria-live="rude" role="alert" hidden>

	  {% trans %}Please enter address!{% endtrans %}
	</div>
	<div class="form-group">
	  <label for="goaddress">{% trans %}Address{% endtrans %} :</label><label for="goaddress" style="color:red;font-size: 120%;">*</label>
	  <textarea id="goaddress" name="goaddress" class="form-control input-sm"></textarea>
	  <small id="gdtextareahelp" class="form-text text-muted">Press 'Enter' Key twice to shift focus to Contact Person.</small>
	  <input type="hidden" id="goid" class="form-control" name="goid" ></input>
	</div>
      </div>
      <div class="col-sm-6 editgodownform" hidden>
	<div class="form-group">
	  <label for="gocontactname" id="godnname">{% trans %}Contact Person{% endtrans %} : </label>
	  <input type="text" id="gocontactname" class="form-control input-sm" name="goname"></input>
	</div>
	<div class="form-group">
	  <label for="gocontact" id="godncontact">{% trans %}Contact Number{% endtrans %} : </label>
	  <input type="text" id="gocontact" class="form-control input-sm" name="godowncontact"></input>
	</div>
      </div>
      <div id="m_confirmdel" class="modal fade" tabindex="-1" role="dialog">
	<div class="vertical-alignment-helper">
	  <div class="modal-dialog modal-sm vertical-align-center">
	    <div class="modal-content">
	      <div class="modal-header">

		<h4 class="modal-title">{% trans %}Delete?{% endtrans %}
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	            <span aria-hidden="true">&times;</span>
	          </button></h4>
	      </div>
	      <div class="modal-body">
		<p>{% trans %}Are you sure?{% endtrans %}</p>
	      </div>
	      <div class="modal-footer">
		<button type="button" id ="m_cancel" class="btn btn-warning" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> {% trans %}No{% endtrans %}</button>
		<button type="button" id="goddel" data-dismiss="modal" class="btn btn-danger"><i class="fa fa-check" aria-hidden="true"></i> {% trans %}Yes{% endtrans %}</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div>
      </div><!-- /.modal -->
    </div>
    <div id="form-footer" class="panel-footer" hidden>
      <div class="container-fluid">
	<button type="submit" class="btn btn-success btn-sm" id="egdnsubmit" name="submit"><i class="fa fa-floppy-o" aria-hidden="true" accesskey="a"></i> {% trans %}S<u>a</u>ve{% endtrans %}</button>
	<button id="edit" class="btn btn-primary btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true" accesskey="e"></i> {% trans %}<u>E</u>dit{% endtrans %}</button>	
	<button id="delete" class="btn btn-danger btn-sm"><i class="fa fa-trash-o" aria-hidden="true" accesskey="d"></i> {% trans %}<u>D</u>elete{% endtrans %}</button>
	<button id="reset" class="btn btn-warning btn-sm"><i class="fa fa-refresh" aria-hidden="true" accesskey="t"></i> {% trans %}Rese<u>t</u>{% endtrans %}</button>
      </div>
    </div>
	</div>
	<input type="hidden" id="gbflag" value="{{ gbflag }}">
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/editgodown.js')}}"></script>
</body>
