<html>
  <body>
  <div class="col-md-12">
    <div class=" panel shadow panel-body printnopadding">
      <div class="col-md-12" id="invoiceviewlistdiv" style="margin-bottom:-30px">
        <div class=" row form-group form-inline col-sm-2">
          <label for="invoiceviewlist">{% trans %}Type of Invoice:{% endtrans %}</label>
        </div>          
        <div id="invoiceviewlist" class="row form-inline form-group">
          <div class="radio">
            <label><input type="radio" class="invoicelist" name="delradio" value="0" id="viewallinvoice" checked> All</label>
          </div>
          <div class="radio" style="margin-left:15px">
            <label><input type="radio" class="invoicelist" name="delradio" value="1" id="viewsaleinvoices"> Sale</label>
          </div>
          <div class="radio" style="margin-left:15px">
            <label><input type="radio" class="invoicelist" name="delradio" value="2" id="viewpurchesinvoices"> Purchase</label>
          </div>
        </div>
      </div>
    <div id="slectedlist" class="col-md-12 row printnopadding" style="margin:0 0 0 2px" ></div>
    </div>
  </div>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/invoiceviewlist.js')}}"></script>
  </body>
</html>
